<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Sistema de Cadastro de Clientes</h2>
            <br>
            <img src="https://icon-icons.com/icons2/249/PNG/256/Clients_27015.png" />
            <br>
        </div>
        <div class="col-md-6">
            <br>
            <p>Funcionalidades desse sistema: </p>
            <p>>> Inserir um Cliente (código, nome, CPF/CNPJ e telefone);</p>
            <p>>> Alterar um Cliente;</p>
            <p>>> Excluir um Cliente;</p>
            <p>>> Listar todos os Clientes;</p>
        </div>
    </div>
</div>